misc/LogViewerTest/LogViewerTest/Service References/LogService/LogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="LogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6797/LogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6797/LogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6797/LogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LogViewerTest.Service.Log.DTO" />
      <xsd:import schemaLocation="http://localhost:6797/LogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogServiceContract_FindLastLogId_InputMessage">
    <wsdl:part name="parameters" element="tns:FindLastLogId" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_FindLastLogId_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindLastLogIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_FindLastLogIdByIncidentId_InputMessage">
    <wsdl:part name="parameters" element="tns:FindLastLogIdByIncidentId" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_FindLastLogIdByIncidentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindLastLogIdByIncidentIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_IsLastLogId_InputMessage">
    <wsdl:part name="parameters" element="tns:IsLastLogId" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_IsLastLogId_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsLastLogIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_IsLastLogIdByIncidentId_InputMessage">
    <wsdl:part name="parameters" element="tns:IsLastLogIdByIncidentId" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_IsLastLogIdByIncidentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsLastLogIdByIncidentIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_FindSummaryLogItemzByIncidentId_InputMessage">
    <wsdl:part name="parameters" element="tns:FindSummaryLogItemzByIncidentId" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_FindSummaryLogItemzByIncidentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindSummaryLogItemzByIncidentIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_FindLogItem_InputMessage">
    <wsdl:part name="parameters" element="tns:FindLogItem" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_FindLogItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindLogItemResponse" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_CreateLogItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLogItem" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_CreateLogItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLogItemResponse" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_CreateExceptionLogItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateExceptionLogItem" />
  </wsdl:message>
  <wsdl:message name="ILogServiceContract_CreateExceptionLogItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateExceptionLogItemResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogServiceContract">
    <wsdl:operation name="FindLastLogId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServiceContract/FindLastLogId" message="tns:ILogServiceContract_FindLastLogId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServiceContract/FindLastLogIdResponse" message="tns:ILogServiceContract_FindLastLogId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindLastLogIdByIncidentId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServiceContract/FindLastLogIdByIncidentId" message="tns:ILogServiceContract_FindLastLogIdByIncidentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServiceContract/FindLastLogIdByIncidentIdResponse" message="tns:ILogServiceContract_FindLastLogIdByIncidentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsLastLogId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServiceContract/IsLastLogId" message="tns:ILogServiceContract_IsLastLogId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServiceContract/IsLastLogIdResponse" message="tns:ILogServiceContract_IsLastLogId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsLastLogIdByIncidentId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServiceContract/IsLastLogIdByIncidentId" message="tns:ILogServiceContract_IsLastLogIdByIncidentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServiceContract/IsLastLogIdByIncidentIdResponse" message="tns:ILogServiceContract_IsLastLogIdByIncidentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindSummaryLogItemzByIncidentId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServiceContract/FindSummaryLogItemzByIncidentId" message="tns:ILogServiceContract_FindSummaryLogItemzByIncidentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServiceContract/FindSummaryLogItemzByIncidentIdResponse" message="tns:ILogServiceContract_FindSummaryLogItemzByIncidentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindLogItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServiceContract/FindLogItem" message="tns:ILogServiceContract_FindLogItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServiceContract/FindLogItemResponse" message="tns:ILogServiceContract_FindLogItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLogItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServiceContract/CreateLogItem" message="tns:ILogServiceContract_CreateLogItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServiceContract/CreateLogItemResponse" message="tns:ILogServiceContract_CreateLogItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateExceptionLogItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServiceContract/CreateExceptionLogItem" message="tns:ILogServiceContract_CreateExceptionLogItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServiceContract/CreateExceptionLogItemResponse" message="tns:ILogServiceContract_CreateExceptionLogItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogServiceContract" type="tns:ILogServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindLastLogId">
      <soap:operation soapAction="http://tempuri.org/ILogServiceContract/FindLastLogId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindLastLogIdByIncidentId">
      <soap:operation soapAction="http://tempuri.org/ILogServiceContract/FindLastLogIdByIncidentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLastLogId">
      <soap:operation soapAction="http://tempuri.org/ILogServiceContract/IsLastLogId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLastLogIdByIncidentId">
      <soap:operation soapAction="http://tempuri.org/ILogServiceContract/IsLastLogIdByIncidentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSummaryLogItemzByIncidentId">
      <soap:operation soapAction="http://tempuri.org/ILogServiceContract/FindSummaryLogItemzByIncidentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindLogItem">
      <soap:operation soapAction="http://tempuri.org/ILogServiceContract/FindLogItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLogItem">
      <soap:operation soapAction="http://tempuri.org/ILogServiceContract/CreateLogItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateExceptionLogItem">
      <soap:operation soapAction="http://tempuri.org/ILogServiceContract/CreateExceptionLogItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogService">
    <wsdl:port name="BasicHttpBinding_ILogServiceContract" binding="tns:BasicHttpBinding_ILogServiceContract">
      <soap:address location="http://localhost:6797/LogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>